.notification {
  width: 100%;
  //   background: red;
  padding: 5px 10px 5px 0px;
  height: 100%;
  > div {
    height: 100% !important;
  }
  p {
    font-size: 25px;
  }
  > .main_tabla_isk {
    .table_isk {
      height: 98vh !important;
      .table_isk_td:nth-child(1),
      .table_isk_th:nth-child(1) {
        min-width: 25px;
        max-width: 35px;
        @media screen and (max-width: 1110px) {
          min-width: 50px;
          max-width: 65px;
        }
      }
      .table_isk_td:nth-child(2),
      .table_isk_th:nth-child(2) {
        min-width: 25px;
        max-width: 35px;
        @media screen and (max-width: 1110px) {
          min-width: 50px;
          max-width: 65px;
        }
      }.table_isk_td:nth-child(3),
      .table_isk_th:nth-child(3) {
        min-width: 25px;
        max-width: 35px;
        @media screen and (max-width: 1110px) {
          min-width: 50px;
          max-width: 65px;
        }
      }
  }
  }
}
