.calculator {
    display: block !important;
    margin: 40px 0 10px 0 !important;
    &__count {
      display: flex;
      align-items: end;
      justify-content: space-between;
      .typeSpora {
        > div {
          width: 400px;
          > div {
            width: 400px;
          }
        }
      }
      input {
        min-width: 400px !important;
      }
      .btnCal  {
         color:#4d5969;
         font-size: 16px;
         font-weight: 600;
         font-family: 'Montserrat', sans-serif;
         background: #f9fafd;
         transition: 0.2s;
         padding: 12px 25px;
         height: auto !important;
         border-radius: 3px;
         cursor: pointer;
         color: #4d5969;
         box-shadow:  0 0 0 1px rgba(43, 45, 80, 0.1), 0 2px 5px 0 rgba(43, 45, 80, 0.08), 0 1px 1.5px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.08);;
         font-size: 16px;
         font-weight: 600;
         font-family: 'Montserrat', sans-serif;
         background: #fff;
     }
    }
    &__result {
      margin: 60px 0 0 0;
      > div:nth-child(1) {
        // display: flex;
        // justify-content: space-around;
        // align-items: center;
        h5 {
          font-size: 15px;
          // text-align: center;
        }
      }
      .tablesresult {
        margin: 20px 0 0 0;
        > div {
          border-bottom: 1px solid black;
          // border-top: 1px solid black;
          padding: 10px 5px;
        }
      }
  }
  .table_isk {
    width: 100%;
    display: table;
    margin: 40px 0 0 0 ;
    > thead {
      .table_isk_th {
        padding: 15px 8px;
        background: rgb(237, 242, 249);
        text-align: left !important;
      }
    }

    tbody {
      tr {
        height: 70px;
        cursor: pointer;
      }
    
      td {
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        cursor: pointer;
        border: 1px solid rgb(237, 242, 249);
        padding: 8px;
        position: relative;

        .innerTable {
          display: flex;
          flex-direction: column;
          max-height: 350px;

          .table_isk_td__inner {
            margin: 0 0 5px 0;
          }
        }

        span {
          width: 100% !important;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          text-align: left;
          font-weight: 500;
          font-family: 'Montserrat', sans-serif;
          font-size: 16px !important;
        }
      }

      .table_isk_td:nth-child(1),
      .table_isk_th:nth-child(1) {
        width: 90px;
      }

      .table_isk_td:nth-child(2),
      .table_isk_th:nth-child(2) {
        width: 10px !important;
      }

      .table_isk_td:nth-child(3),
      .table_isk_th:nth-child(3) {
        width: 150px;
      }
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    ::-webkit-scrollbar-track {
      background: #f1f1f100;
    }

    ::-webkit-scrollbar-thumb {
      background: rgb(234, 234, 234);
    }
  }
}
