.logout {
  position: absolute;
  bottom: 30px;
  left: 0px;
  padding: 15px 20px !important;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: start;
  > img {
    width: 24px;
    height: 24px;
  }
  > p {
    display: block !important;
    line-height: 19px !important;
    font-size: 14px !important;
    color: #000 !important;
    width: 120px !important;
    text-align: left !important;
  }
  
}
