.btnsTypeMain {
  position: relative;
  height: 80px;
  background:#fff;
  margin: 0 0 20px -20px !important;
  width: 104%;
  > div {
    display: inline-flex;
    margin: 0 0 20px 0;
    top: 20px !important;
    left: 50%;
    transform: translateX(-50%);
    width: 560px !important;
    > span {
      width: 280px;
      color:#4d5969;
      font-size: 15px;
      font-weight: 600;
      font-family: 'Montserrat', sans-serif;
      background: #f9fafd;
      transition: 0.2s;
      padding: 10px 25px;
      height: auto !important;
      margin: 0 !important;  
      border-radius: 3px;
      text-align: center;
      cursor: pointer;
    }
  }
}
.two_more {
  align-items: end !important;
}