/* ////////////////////////////////// */
.mainTable {
  display: flex;
  /* align-items: center; */
  gap: 10px;
}

.mainTable__inner {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;

  > button {
    padding: 20px 8px;
    border-radius: 8px;
    width: 105px;
    line-height: 18px;
    font-size: 14px;
    background: #555;
    color: #fff;
  }
}

.documentBlock {
  > img {
    display: block;
    width: 20px;
    height: 20px;
  }
}
