$widthMenu: 320px;
$widthAllContent: 100%;

.plaintiffBlock {
  display: flex;
  gap: 5px;
  width: 100%;
  // max-width: 2250px;
  max-width: 100%;
  margin: 0 auto;
  background: #f9fafd;
  padding: 0 30px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-width: $widthMenu;
    width: $widthMenu;
    max-width: $widthMenu;
    height: 100vh;

    .moreInfoMenu {
      color: #5e6e82;
      font-size: 15px;
      font-weight: 700;
      font-family: 'Montserrat', sans-serif;
      text-align: left;
      width: 100%;
      padding: 0 0 0 21px;
      text-transform: uppercase;
      // border-bottom: 1px solid black;
    }

    .mainUser {
      margin: 0 0 40px 0;
      > button {
        display: flex;
        gap: 12px;
        justify-content: start !important;
        padding: 10px 20px 25px 20px;
        > span {
          font-size: 20px;
          font-weight: 600;
          color: #5e6e82;
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
   
    p {
      display: inline;
      text-align: center;
      font-style: normal;
      line-height: 30px;
      color: #5e6e82;
      font-size: 28px;
      font-weight: 700;
      font-family: 'Montserrat', sans-serif;
    }
    .logo {
      width: 100%;
      padding: 40px 0 5px 0;
      margin: 0 0 70px 0;
      width: 90%;
      height: 150px;
      > img {
        width: 100%;
        height: 100%;
      }
    }
    p {
      color: #4650dd;
      
    }
    > div {
      background: transparent;
      text-align: left;
      width: 100%;
      gap: 5px;
      > button {
        padding: 15px 35px 15px 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background: #fff;
        background: #f9fafd;

        > div {
          background: transparent;
          text-align: left;
          display: flex;
          align-items: center;
          gap: 10px;
          position: relative;

          .imgIcon {
            width: 25px;
            height: 25px;
          }
          > p {
            color: #5e6e82;
            text-align: left;
            line-height: 20px;
            width: 100%;
            position: relative;
            font-weight: 600;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            > button {
              // background: #fff;
              background: #f9fafd;
              border-radius: 50%;
              display: inline-block;
              border: 1px solid #000;
              color: #000;
              height: 20px;
              min-width: 20px;
              text-align: center;
              font-size: 12px;
              position: absolute;
              right: -30px;
              top: -5px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: 500;
              transform: rotate(4deg);
            }
          }
          &:hover {
            color: #2c7be5;
          }
        }
        > img {
          width: 16px;
          height: 16px;
        }
      }
    }
    .activePage {
      // background-color: #4650dd !important;
      background: transparent;
      p {
        color: #2c7be5 !important;
      }
    }
    .noActiveInnerBtn {
      transition: 0.5s;
    }
    .activeInnerBtn {
      transform: rotate(180deg);
      transition: 0.5s;
    }
    &__pages {
      animation: innerPages 0.5s ease forwards;
      box-shadow: inset 4px -2px 5px 0 rgba(0, 0, 0, 0.075);
      padding: 0 0 5px 0;
      > li {
        > button {
          text-align: left !important;
          padding: 10px 8px 10px 20px;
          width: 100%;
          text-align: left;
          line-height: 20px;
          background: #fff;
          color: #322f2e;
          font-weight: 600;
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
        }
        .activeBtnsPage {
          background: #7e85e7;
          color: #fff !important;
        }
      }
    }
  }
  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    height: 98vh;
  }
}

@keyframes innerPages {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    height: 250px;
    opacity: 1;
  }
}
